import(jaspBase)
export(mlRegressionBoosting)
export(mlRegressionKnn)
export(mlRegressionRandomForest)
export(mlRegressionRegularized)
export(mlClassificationBoosting)
export(mlClassificationKnn)
export(mlClassificationLda)
export(mlClassificationRandomForest)
export(mlClusteringDensityBased)
export(mlClusteringFuzzyCMeans)
export(mlClusteringHierarchical)
export(mlClusteringKMeans)
export(mlClusteringRandomForest)
export(mlPrediction)
